
/* selector universal */
*{
    margin: 0;
    padding: 0;
    text-decoration:none;

}
/*selector de etiqueta*/
body {
    background-color:lightpink;
    color:#8a4d76;
}
ul {
    text-align: center;
    padding: 10px;
}
li {
    display: inline;
    padding: 10px,30px;
margin: 3em;
}
li a:hover {
    color:rgb(230, 210, 125);
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    
}
/*selector id*/
#contenedor {
    width: 800px;
    height: 200px;
    background-color:hotpink;
    margin: 10px;
    padding: 20px;
}
#encabezado {
    width: 100%;
    background-color:indianred;
    margin: 100px;
    text-align: center;
    border-radius: 5px;
}
#menu {
    height: 40px;
    background-color:rgb(59, 31, 82);
    margin: 1em;
    border-radius: 5px;
}
#pie {
    height: 60px;
    background-color: rgb(223, 182, 182);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
#pie h5{
    padding: 15px;
    font-size: 30px;
    color: rgb(4, 4, 4);
}
/*selector de clase*/
.img {
    width: 30%;
    justify-items: center;
}

.texto {
    text-align: center;
font-family:'Times New Roman', Times, serif;
font-size: 15px;
padding: 10px 30px;
color: black;
}
.img:hover{
    width: 80%;}
