
/* Selector universal */
/* Selector universal */


/* Selector de etiqueta */
body {
    background-color: rgb(240, 182, 182);
    color: #8a4d76;
    font-family: 'Times New Roman', Times, serif;
}
*{
    box-sizing: border-box;
}

.contenedorFlex{
    display: flex;
    width: 400px;
flex-direction: row;
background-color: palevioletred;
padding: 10px;
border: 2px solid #8a4d76;
}
.item {
    background-color: lightpink;
    width: 100px;
    margin: 15px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
}
